#featured img {
    object-fit: cover;
}

.card {
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.card::before{
    content: "";
    position: absolute;
    inset: 0;
    top: 50%;
    background: linear-gradient(180deg, transparent 0%, #020617 100%);
}

.card figcaption {
    position: absolute;
    bottom: 0;
    padding: 24px;
}

.card figcaption h2 {
    margin-top: 8px;
}