#gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    padding-inline: 32px;
    max-width: 1280px;
    margin-inline: auto;
    margin-block: 24px;
}

#gallery img {
    width: 17.875rem;
    height: 17.875rem;
    object-fit: cover;
}

@media (width <= 800px) {
    #gallery {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        max-width: 360px;


       margin: 16px 16px;
       padding-inline: 0px;

    }

    #gallery img {
        width: 328px;
        height: 328px;

        object-fit: cover;
    }
}

